<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='CSS/main.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <title>Mypost</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="left">Ganesh Blog</div>
        <div class="right">
          <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('mypost')}}">Posts</a></li>

            {% if current_user.is_authenticated %}
            <li>
              <a class="nav-item nav-link" href="{{ url_for('account') }}"
                >Account</a
              >
            </li>
            <li>
              <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}"
                >Logout</a
              >
            </li>
            {% else %}
            <li>
              <a class="nav-item nav-link" href="{{ url_for('auth.login') }}"
                >Login</a
              >
            </li>
            <li>
              <a class="nav-item nav-link" href="{{ url_for('auth.register') }}"
                >Register</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <h1 class="red">Post Page</h1>
    <hr />

    {%if current_user.is_authenticated %}

    <div class="card_container">
      {% for post in posts%}
      <div class="card">
        <div class="card-header">
          <h1>The Blog</h1>
        </div>
        <div class="card-body">
          <div class="post-title">{{post.title}}</div>
          <div class="post-content">{{post.content}}</div>
          <div class="user">
            <div class="user-info">
              <h5>User : {{post.author.username}}</h5>
              <div class="date-note">Date : {{post.date_note}}</div>
            </div>
          </div>
          {%if current_user.username == post.author.username%}
          <div class="action-buttons">
            <a href="{{url_for('update', post_id = post.id)}}" class="update"
              >Update</a
            >
            <a href="{{url_for('delete', post_id = post.id)}}" class="delete"
              >Delete</a
            >
          </div>
          {%endif%}
        </div>
      </div>
      {%endfor%}
    </div>

    <div class="pagination">
      {% if posts.has_prev %}
      <a
        class="pagination_btn"
        href="{{ url_for('mypost', page=posts.prev_num) }}"
        >Next</a
      >
      {% endif %} {% if posts.has_next %}
      <a
        class="pagination_btn"
        href="{{ url_for('mypost', page=posts.next_num) }}"
        >Prev
      </a>
      {% endif %}
    </div>
    {%else%}

    <h1>Please Login to View Posts!</h1>

    {%endif%}
  </body>
</html>
